
.loader {
    position: fixed;
    left: 0px;
    top: 50px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../../file/loading2.gif') 50% 50% no-repeat rgb(249,249,249);
}
.loaderD,.loaderM,.loaderE {
    left: 11px;
    top: 89px;
    width: 100%;
    height: 375.766px;
    z-index: 9999;
    background: url(../../file/loading2.gif) 50% 50% no-repeat rgb(255, 255, 255);
}

.loaderM {
    height: 397.766px;
}
