.loaderE {
    left: 11px;
    top: 89px;
    width: 100%;
    height: 375.766px;
    z-index: 9999;
    background: url(../../file/loading2.gif) 50% 50% no-repeat rgb(255, 255, 255);
}

#idEmpleado{
    cursor:pointer;
}
.modal-dialog {
    width: 1000px;
}
.modalE {
    width: 100% !important;
}
#pagerEmp {
    height: 100%;
}
#modalEmpleados .modal-body {
    overflow: auto;
    /*height: 500px;*/
}
#modalEmpleados .modal-content {
    width: 1000px;
}
#filterButton {
    display: inline-block;
    margin: 10px;
    padding-bottom: 6px;
    margin-top: 4px;
    margin-left: 0;
}

.filterItem {
    display: inline-block;
    padding-left: 5px;
}

#refreshButton {
    display: inline-block;
    margin: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 6px;
    margin-top: 4px;
    margin-left: 0;
}
#idEmp {
    max-width: 64px;
}