.loaderE {
    left: 11px;
    top: 89px;
    width: 100%;
    height: 375.766px;
    z-index: 9999;
    background: url(../../file/loading2.gif) 50% 50% no-repeat rgb(255, 255, 255);
}

#idEmpleado{
    cursor:pointer;
}
.modal-dialog {
    width: 1000px;
}
.modalE {
    width: 100% !important;
}
#pagerEmp {
    height: 100%;
}
#modalEmpleados .modal-body {
    overflow: auto;
    /*height: 500px;*/
}
#modalEmpleados .modal-content {
    width: 1000px;
}