/****** Script for SelectTopNRows command from SSMS  ******/
SELECT * FROM DetalleRequisicion
SELECT * FROM DetalleRequisicion2
SELECT * FROM Solicitud_Requisiciones
DELETE FROM DetalleRequisicion
DELETE FROM DetalleRequisicion2
DELETE FROM Solicitud_Requisiciones