
@{
    ViewBag.Title = "Perfil";
}
<script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $(".loader").fadeOut(100);
            }, 1000);
        });
        var username = "@HttpContext.Current.User.Identity.Name";
        console.log(username);
</script>
@if (!User.Identity.IsAuthenticated)
{
    Response.Redirect("~/Home/Index");
}
<div class="loader"></div>
<h2>Perfil</h2>
<div class="jumbotron row">
    <h1>Materiales</h1>
    <form action="" name="infoPar" id="infoPar">
        <div class="div1 col-md-6">
            <label for="descripcion">Decripción <span id="errDescripcion" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="descripcion" id="descripcion" maxlength="255">

            <label for="cantidad">Cantidad <span id="errCantidad" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="cantidad" id="cantidad">

            <label for="unidad">Unidad <span id="errUnidad" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="unidad" id="unidad">

            <label for="existencia">Existencia <span id="errExistencia" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="existencia" id="existencia">

            <label for="clave">Codigo de material <span id="errClave" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="clave" id="clave">
        </div>

        <div class="div2 col-md-6">
            <label for="precioU">Precio unitario <span id="errPrecioU" class="errorPersonalizado"></span></label>
            <input type="text" class="inputBox2" name="precioU" id="precioU">

            <label for="detalle">Detalle <span id="errDetalle" class="errorPersonalizado"></span></label>
            <textarea name="detalle" class="inputBox2" id="detalle" cols="30" rows="4" maxlength="255"></textarea>

        </div>
    </form>
</div>

